<h2 class="mb-5 text-center"></h2>
<div class="row row-cols-2 justify-content-center">
  @if (formularioEditar) {
  <form [formGroup]="formularioEditar" (ngSubmit)="save()">
    <div class="mb-3">
      <label for="name">Nombre Obra</label>
      <input
        id="nombreObra"
        name="nombreObra"
        type="text"
        class="form-control"
        formControlName="nombreObra"
      />

      @if (formularioEditar.get('nombreObra')?.hasError('required')) {
      <p class="invalid-feedback d-block">El nombre de obra es obligatorio</p>

      }
    </div>

    <div class="mb-3">
      <label for="name">Largo en metros</label>
      <input
        id="largo"
        name="largo"
        type="number"
        class="form-control"
        formControlName="largo"
      />
      @if (formularioEditar.get('largo')?.hasError('required')) {
      <p class="invalid-feedback d-block">El largo es obligatorio</p>

      }
    </div>

    <div class="mb-3">
      <label for="name">Ancho en metros</label>
      <input
        id="ancho"
        name="ancho"
        type="number"
        class="form-control"
        formControlName="ancho"
      />
      @if (formularioEditar.get('ancho')?.hasError('required')) {
      <p class="invalid-feedback d-block">El ancho es obligatorio</p>

      }
    </div>

    <div class="mb-3">
      <label for="name">Grosor en metros</label>
      <input
        id="grosor"
        name="grosor"
        type="number"
        class="form-control"
        formControlName="grosor"
      />
      @if (formularioEditar.get('grosor')?.hasError('required')) {
      <p class="invalid-feedback d-block">El grosor es obligatorio</p>

      }
    </div>

    <div class="mb-3">
      <label for="name">Calculo de Concreto</label>
      <input
        id="calculoConcreto"
        name="calculoConcreto"
        class="form-control"
        formControlName="calculoConcreto"
        readonly
      />
    </div>

    <div class="text-end">
      <button class="btn btn-primary">Actualizar Concreto</button>
      <button type="button" routerLink="/" class="btn btn-danger">
        Cancelar Actualizacion
      </button>
    </div>
  </form>
  }
</div>
